<head>
      <link rel="stylesheet" href="{{ url_for('styles', filename='index.css') }}">
</head>
<body>

    {% if session.get('role') == 'admin' %}
      <div class="center">
        <h1>Admin Dashboard</h1>
    
      </div>
    {% else %}
      <script>
          window.location.href = "{{ url_for('index') }}";
      </script>
    {% endif %}

    <a class="box" href="{{ url_for('index') }}">
       <h2>Return to home page</h2>
    </a>

    <a class="box" href="{{ url_for('create') }}">
         <h2>Create new account</h2>
    </a>
</body>