<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Create Account</title>
	<link rel="stylesheet" href="{{ url_for('styles', filename='account.css') }}">

</head>
<body>
	<div class="login-container">
		<h1><div class="center">Create Account</div></h1>
		<form id="createForm" action="{{ url_for('register') }}" method="post">
			<label for="create-username">Username</label>
			<input id="create-username" name="username" type="text" required>

			<label for="create-display">Display name (optional)</label>
			<input id="create-display" name="display_name" type="text">

			<label for="create-password">Password</label>
			<input id="create-password" name="password" type="password" required>

			<label for="create-password-confirm">Confirm Password</label>
			<input id="create-password-confirm" name="password_confirm" type="password" required>

			<button type="submit">Create Account</button>
		</form>
		<div class="center">
			{% with messages = get_flashed_messages() %}
				{% if messages %}
					<p class="message">{{ messages[0] }}</p>
				{% endif %}
			{% endwith %}

			<p>Already have an account? <a href="{{ url_for('login') }}">Log in</a></p>
		</div>
	</div>
</body>
	<div id="navbar"></div>
	<script src="/JavaScript/navbar.js"></script>
</html>

