<head>
      <link rel="stylesheet" href="{{ url_for('styles', filename='index.css') }}">
</head>
<body>

    {% if session.get('role') == 'admin' %}
    
      <div class="center">
        <h1>Admin Dashboard</h1>
      </div>
      
      <a class="box" href="{{ url_for('a_create') }}">
        <h2>Create new account</h2>
      </a>

    {% elif session.get('role') == 'employee' %}

      <div class="center">
        <h1>Employee Dashboard</h1>
      </div>

      <a class="box" href="{{ url_for('e_create') }}">
        <h2>Create new account</h2>
      </a>

    {% else %}

      <script>
          window.location.href = "{{ url_for('index') }}";
      </script>

    {% endif %}


    <a class="box" href="{{ url_for('clients') }}">
      <h2>List of all clients</h2>
    </a>

    <a class="box" href="{{ url_for('reservations') }}">
      <h2>Go to Reservations</h2>
    </a>

    <a class="box" href="{{ url_for('index') }}">
       <h2>Return to home page</h2>
    </a>



</body>