<head>

	<link rel="stylesheet" href="{{ url_for('styles', filename='account.css') }}">

</head>
<body>
	{% if session.get('role') == 'employee' %}

		<div class="login-container">
			<button class="back-btn" onclick="window.history.back(); return false;">&larr; Back</button>
			<h1><div class="center">Register Account</div></h1>
			<form id="registerForm" action="{{ url_for('register') }}" method="post">
				<label for="register-username">Username</label>
				<input id="register-username" name="username" type="text" required>

				<label for="register-email">E-mail</label>
				<input id="register-email" name="email" type="email" required>

				<label for="register-role">Role</label>
				<select id="register-role" name="role" required>
					<option value="client">Client</option>
					<option value="employee">Employee</option>
				</select>

				<label for="register-password">Password</label>
				<input id="register-password" name="password" type="password" required>

				<label for="register-password-confirm">Confirm Password</label>
				<input id="register-password-confirm" name="password_confirm" type="password" required>

				<button type="submit">Create Account</button>
			</form>
			<div class="center">
				{% with messages = get_flashed_messages() %}
					{% if messages %}
						<p class="message">{{ messages[0] }}</p>
					{% endif %}
				{% endwith %}
			</div>
		</div>
	    
    {% else %}
      <script>
          window.location.href = "{{ url_for('index') }}";
      </script>
    {% endif %}
</body>
</html>